<link rel="stylesheet" href="../public/createtable.css">

<div style="margin: 1em; display: flex; gap: 2em;">
<div>
    <a href="/home">Home</a>
</div>

<div>
    <a href="/alltables?">Tabelas</a>
</div>
</div>

<h1 style=" display: flex;
    justify-content: center;
    align-items: center;" >criar</h1>


<div class="containerform">

<form action="/creatingtable" method="post">

    <div>
        <label for="tablesname">Insert the name table</label><br>
        <input id="inputProduto" name="tablesname" type="text" placeholder="Insert name table" value="produto" oninput="manterPalavra()">

    </div>
    <input class="buttonInit" type="submit" value="create table">

    <script>
  function manterPalavra() {
    const input = document.getElementById('inputProduto');
    const valorAtual = input.value;
    const palavraFixa = 'produto';

    // Se o valor não começar com "vendas", corrija
    if (!valorAtual.startsWith(palavraFixa)) {
      // Se o usuário apagou tudo, restaure apenas a palavra
      if (valorAtual.length < palavraFixa.length) {
        input.value = palavraFixa;
      } else {
        // Se o usuário apagou o começo, adicione a palavra de volta
        const textoRestante = valorAtual.substring(palavraFixa.length);
        input.value = palavraFixa + textoRestante;
      }
    }
  }
</script>
   
</form>

</div>
<!--
<form action="/list-tables" method="get">
    <input type="submit" value="tables">
</form>
-->




 