<h1>home</h1>

<form action="/logout" method="get">

    <input type="submit" value="logout">

</form>

<!--<form action="/createtable" method="get">
    <input type="submit" value="Criar Tabela">
</form>-->
<form action="/alltables" method="get">
    <input type="submit" value="Criar Tabela">
</form>

<form action="/calculos" method="get">
    <input type="submit" value="balanço">
</form>

