<link rel="stylesheet" href="/public/init.css">

<button class="buttonInit"><a href="/register">Registrar</a></button>
<button class="buttonInit"><a href="/login">Login</a></button>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br>



<footer><h4 style="color: white; margin-left: 3.5em;">V 1.0.0.0</h4></footer>