<link rel="stylesheet" href="/public/logincss.css">

<div class="formlogin">

<h1 class="formlogin">Login</h1>


<div class="formlogin">
    <form action="/registered" method="post">

        <span class="formlogin" for="Your name">Your name:</span>
        <input type="text" name="user" id="" placeholder="        Insert Your name">
    
        <span class="formlogin" for="Password">Password:</span>
        <input type="password" name="password" id="" placeholder="          Your password">

        <button type="submit" class="formlogin">Logar</button>
       
    
    </form>
</div>

</div>