<link rel="stylesheet" href="../public/register.css">

<h1 class="h1H1">Registrar-se</h1>

<div class="inputsTexto">

    <div>
    <form action="/register" method="post">
    <span for="Your name">Your name:</span>
    <input  class="formloginn" type="text" name="user" id="" placeholder="Insert Your name">
    
    <span for="Password">Password:</span>
    <input class="formloginn"  type="password" name="password" id="" placeholder="Your password">

    <input class="input1"  type="submit" value="Register">

    </form>
    </div>


</div>

<div style="margin-left: 41%; margin-top:-9em;">
    <p style="color: with;">
    Registre sua senha e anote por favor!
    <br><br><br>
     Essa é uma versão inicial desse software, <br>
     ainda não foi implentado um sistema de <br> recuperação de senha.
    </p>
</div>