<h1>Register</h1>

<div>
    <form action="/register" method="post">
    <span for="Your name">Your name:</span>
    <input type="text" name="user" id="" placeholder="Insert Your name">
    
    <span for="Password">Password:</span>
    <input type="password" name="password" id="" placeholder="Your password">

    <input type="submit" value="Register">

    </form>

    
</div>