body{
    background: #1B2A41;
    color: antiquewhite;
    /* color: #4C5C68; cola de cor para usar nesse projeto tambem*/
    /*display: flex;
    justify-content: center; 
    align-items: center;*/
    min-height: 100vh;      
    margin: 0;   
}

.containertables{
    width: 98%;
    margin-left: 0.5em;
    overflow: hidden;
    
}

.buttonInit{
    background: radial-gradient( rgba(126, 224, 14, 0.74), rgba(155, 240, 58, 0.568), rgba(126, 224, 14, 0.589)   ) ;
    text-decoration: none;
    border-radius: 10em;
    color: rgb(255, 250, 243);
    height: 2em;
    box-shadow: none;
    margin-top: 1.5em;
    margin-left: 45%;
    /*margin-left: 3.5em;*/
    width: 8em;
    cursor: pointer;
    
}

.buttonInit2{
    color: white;
    text-decoration: none;
    margin-top: 10em;
    margin-left: 3em;
}

.buttonInit2 a {
    color: white;
    text-decoration: none;
    
   
}

.table-list{
    padding-top: 2em;
    padding-bottom: 2em;
    background: rgba(139, 178, 207, 0.15);
    /*background: radial-gradient( rgba(126, 224, 14, 0.438), rgba(155, 240, 58, 0.452), rgba(126, 224, 14, 0.459));*/
    list-style-type: none;
    width: auto;
    border-radius: 10px;
    margin-left: 0.5em;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    gap: 1em;
    
}

.table-list li {
    border-radius: 20px;
    background-color: rgba(139, 178, 207, 0.15);
    width: auto;
    height: auto;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.table-list a {
   
    text-decoration: none;
    color: white;
    font-size: 20px;
    
}



.table-actions{
    margin-top: 1em;
    
}


.buttonInit2{
    background: radial-gradient( rgba(126, 224, 14, 0.74), rgba(155, 240, 58, 0.568), rgba(126, 224, 14, 0.589)   ) ;
    text-decoration: none;
    border-radius: 10em;
    color: rgb(255, 250, 243);
    height: 2em;
    box-shadow: none;
    margin-top: 0.5em;
    margin-left: 0;
    /*margin-left: 3.5em;*/
    width: 4em;
    cursor: pointer;
    
}

.buttonInit3{
    background: radial-gradient( rgba(230, 6, 6, 0.74), rgba(230, 15, 15, 0.568), rgba(224, 14, 14, 0.589)   ) ;
    text-decoration: none;
    border-radius: 10em;
    color: rgb(255, 250, 243);
    height: 2em;
    box-shadow: none;
    margin-top: 0.5em;
    
    width: 4em;
}